@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* import Font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.button {
  color: #ffffff;
  background-color: #59a5ff;
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ====================
    common CSS ends
======================= */

header h1 {
  color: #31a5ac;
  text-align: center;
  margin: 20px;
}

.section-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item {
  width: 50%;
  background-color: #f8f8f8;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.text {
  background-color: #f8f8f8;
  padding: 70px 0;
  text-align: center;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text .heading {
  margin: 15px;
}

img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  background-color: #dcdcdc;
}

.main-alert{
    display: none;
    padding: 5px 8px;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 5px;
    background-color: rgb(197, 243, 235);
    color: rgb(42, 165, 134);
    font-weight: 700;
    border-left: 4px solid #1e9e58;
}


/* ====================
    main section CSS ends
======================= */

@media only screen and (max-width: 768px) {
  .text {
    margin-top: 20px;
  }
}

/* ====================
    Media Query CSS ends
======================= */